.app {
  text-align: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 375px;
  max-height: 667px;
  margin: 0 auto;
}

.doors {
  height: 75%;
  box-sizing: border-box;
}

.buttons {
  padding-top: 10px;
  height: 25%;
  box-sizing: border-box;
}

button {
  height: 100%;
  width: 50%;
  border: none;
  padding: 0;
  border: 1px solid #000;
}

button:first-child {
  border-left: 1px solid #000;
  border-right: none;
}
